@page "/userroles"
@using Bondlog.Client.Interfaces;
@using Bondlog.Shared.Domain.Models;
@inject NavigationManager NavigationManager;
@inject IUserRolesService UserRolesService

<head>
    <link href="/css/components/user-roles.css" rel="stylesheet" />
</head>

<h3>User Roles</h3>

@if (userRoles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="custom-data-grid">
        <MudDataGrid Items="@userRoles" Filterable="false" SortMode="@SortMode.None" Groupable="false">
            <Columns>
                <PropertyColumn Property="x => x.UserName" Title="User Name"/>
                <PropertyColumn Property="x => x.RoleName" Title="Role Name"/>
                <TemplateColumn CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudStack Row>
                         <MudButton Size="@Size.Small" Variant="@Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="@Color.Primary">Edit</MudButton>
                         <MudButton Size="@Size.Small" Variant="@Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="@Color.Error">Delete</MudButton>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </div>
}

@code {
    private IEnumerable<UserWithRole> userRoles;

    protected override async Task OnInitializedAsync()
    {
        userRoles = await UserRolesService.GetUserRolesAsync();
    }
}